#heading{
background-image:url(bg_menu.jpg);
color:whitesmoke;
text-indent: 6%;
vertical-align: middle;
}
#homelink{
   text-indent: 9%;
   color:blue;
}
#cpbody{

   background-color:whitesmoke;
width:700px;
border-color: #003366;
border-bottom-style: solid;
vertical-align: middle;
font-family: 'arial';
}
body{
background-image:url(bg1.jpg);
}
#sub{
width:150px;
height:40px;
font-family: 'arial';
font-weight:bold;
}
.tb{
    width:200px;
    height:25px;
}
span{
    color:red;
}
