.ftab
{
    color:whitesmoke;
    text-align: left;
   background-image:url(bg_menu.jpg);
    font-family: 'arial';
}
a
{
    text-decoration:none;

}
a:visited
{
    color:inherit;
}
.foot:hover
{
    text-decoration:underline;
}